body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Comic Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: beige; 
    text-align: center;
  }